#App {
  border: 25px solid #ffe500;

}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5% 0 5%;
}

.video-container {
  grid-column: 1 / 5;
  height: 46.25vw;
}

.video {
  height: 100%;
  width: 100%;
}

.donate {
  grid-column: 1/5;
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: #ffe500;
  margin: 30px auto 30px auto;

  width: 144px;
  height: 70px;
}
