#App {
  border: 25px solid #ffe500;
  height: 100vh
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; 
  grid-row-gap: 5%;
  padding: 0 5% 0 5%;
}

.video-container {
  grid-column: 1 / 5;
  height: 46.25vw;
}

.video {
  height: 100%;
  width: 100%;
}

.donate {
  grid-column: 2/4;
  height: 20px;
  background-color: red;
}
