#App {
  border: 25px solid #ffe500;
  height: 100vh
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 5% 0 5%;
}

.video-container {
  grid-column: 1 / 5;
  height: 47vw;
}

.video {
  height: 100%;
  width: 100%;
}
